@{
  Layout = "_Layout";
}
@using SillyString.Models

<h1>Welcome to Silly String factory!</h1>


<div class="button-area">
  <ul class="machine-list">
  @foreach (EngineerMachine join in Model.JoinEntities)
    {
      <li>@join.Machine.Name
        @using (Html.BeginForm("DeleteJoin", "Engineers"))
        {
          @Html.Hidden("joinId", @join.EngineerMachineId)
          <button class="red" type="submit">Delete</button>
        }
      </li>
    }
  </ul>
   <ul class="egineer-list narrow">
  @foreach (EngineerMachine join in Model.JoinEntities)
    {
      <li>
      <a href='@Url.Action("Details", "Engineers", new { id = join.Engineer.EngineerId })'>
      </a>
      @using (Html.BeginForm("DeleteJoin", "Machines"))
      {
        @Html.Hidden("joinId", @join.EngineerMachineId)
        <button class="red" type="submit">Delete</button>
      }
    </li> 
    }
  </ul>
    <a href='@Url.Action("Index", "Engineers")'>
    <button>See all engineers</button>
  </a>
  <a href='@Url.Action("Index", "Machines")'>
    <button>See all machines</button>
  </a>
</div>