@{
  Layout = "_Layout-Admin";
}
@model ElectronicsVendor.Models.Component

<h2>Add a vendor for component <span class="highlighted">@Html.DisplayFor(model => model.Type)</span></h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ComponentId)
  <div class="form-row">
    @Html.Label("Select vendor")
    @Html.DropDownList("VendorId")
    <button class="green" type="submit">Save</button>
  </div>
}

<div class="button-area">
  <a href='@Url.Action("Details", "Components", new { id = Model.ComponentId})'>
    <button>Cancel</button>
  </a>
</div>
