@{
  Layout = "_Layout";
}

@using ElectronicsVendor.Models
@model ElectronicsVendor.Models.Component

<h2>Details for @Html.DisplayFor(model => model.Type) <span class="highlighted">@Html.DisplayFor(model => model.Manufacturer) @Html.DisplayFor(model => model.Name)<span></h2>

<div>@Html.LabelFor(Model => Model.Price, "Wholesale price:")<span class="highlighted">$@Html.DisplayFor(Model => Model.Price)</span></div>


<div class="detail-list">

@if (@Model.JoinEntities.Count == 0)
{
  <p>There are no vendors for this component.</p>
}
else
{
  <h4>Vendors with this component:</h4>
  <ul class="vendor-list">
  @foreach (ComponentVendor join in Model.JoinEntities)
    {
      <li>@join.Vendor.Name
        @using (Html.BeginForm("DeleteJoin", "Components"))
        {
          @Html.Hidden("joinId", @join.ComponentVendorId)
          <button class="red" type="submit">Delete</button>
        }
      </li>
    }
  </ul>
}
<a href='@Url.Action("AddVendor", new { id = Model.ComponentId })'>
  <button class="green">Add a Vendor</button>
</a>
</div>

<div class="button-area">
  <a href='@Url.Action("Index")'>
    <button>Back to List</button>
  </a>
  <a href='@Url.Action("Edit", new { id = Model.ComponentId })'>
    <button class="yellow">Edit Component</button>
  </a>

  <a href='@Url.Action("Delete", new { id = Model.ComponentId })'>
    <button class="red">Delete Component</button>
  </a>
</div>