@{
  Layout = "_Layout";
}

@using SillyString.Models
@model SillyString.Models.Egineer

<h2>Details for @Html.DisplayFor(model => model.Type) <span class="highlighted">@Html.DisplayFor(model => model.Manufacturer) @Html.DisplayFor(model => model.Name)<span></h2>

<div>@Html.LabelFor(Model => Model.Price, "Wholesale price:")<span class="highlighted">$@Html.DisplayFor(Model => Model.Price)</span></div>


<div class="detail-list">

@if (@Model.JoinEntities.Count == 0)
{
  <p>There are no machines for this egineer.</p>
}
else
{
  <h4>Machines with this egineer:</h4>
  <ul class="machine-list">
  @foreach (EgineerMachine join in Model.JoinEntities)
    {
      <li>@join.Machine.Name
        @using (Html.BeginForm("DeleteJoin", "Egineers"))
        {
          @Html.Hidden("joinId", @join.EgineerMachineId)
          <button class="red" type="submit">Delete</button>
        }
      </li>
    }
  </ul>
}
<a href='@Url.Action("AddMachine", new { id = Model.EgineerId })'>
  <button class="green">Add a Machine</button>
</a>
</div>

<div class="button-area">
  <a href='@Url.Action("Index")'>
    <button>Back to List</button>
  </a>
  <a href='@Url.Action("Edit", new { id = Model.EgineerId })'>
    <button class="yellow">Edit Egineer</button>
  </a>

  <a href='@Url.Action("Delete", new { id = Model.EgineerId })'>
    <button class="red">Delete Egineer</button>
  </a>
</div>