@{
  Layout = "_Layout";
}

@using SillyString.Models
@model SillyString.Models.Machine

<h2>Machine Details for @Html.DisplayFor(model => model.Name)</h2>

@if (@Model.JoinEntities.Count == 0)
{
  <p>There are no egineers sold by this machine.</p>
}
else
{
  <h4>Egineers sold by this machine:</h4>
  <ul class="egineer-list narrow">
  @foreach (EgineerMachine join in Model.JoinEntities)
    {
      <li>
      <a href='@Url.Action("Details", "Egineers", new { id = join.Egineer.EgineerId })'>
        <div>@join.Egineer.Manufacturer @join.Egineer.Name </div>
        <div>@join.Egineer.Type</div>
      </a>
      @using (Html.BeginForm("DeleteJoin", "Machines"))
      {
        @Html.Hidden("joinId", @join.EgineerMachineId)
        <button class="red" type="submit">Delete</button>
      }
    </li> 
    }
  </ul>
}
<a href='@Url.Action("AddEgineer", new { id = Model.MachineId })'>
  <button class="green">Add a Egineer</button>
</a>

<div class="button-area">
  <a href='@Url.Action("Index")'>
    <button>Back to List</button>
  </a>
  <a href='@Url.Action("Edit", new { id = Model.MachineId })'>
    <button class="yellow">Edit Machine</button>
  </a>

  <a href='@Url.Action("Delete", new { id = Model.MachineId })'>
    <button class="red">Delete Machine</button>
  </a>
</div>

@* <p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Add a Egineer", "AddEgineer", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Edit Machine", "Edit", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Delete Machine", "Delete", new { id = Model.MachineId })</p> *@