@{
  Layout = "_Layout";
}
@using SillyString.Models


<h1>Welcome to Silly String factory!</h1>


<div class="button-area">
<ul>
  @foreach (Engineer engineer in Model["engineers"])
  {
    <li>@Html.ActionLink(@engineer.Name, "Details", "Engineers", new { id = @engineer.EngineerId})</li>
  }
</ul>
<ul>
  @foreach (Machine machine in Model["machines"])
  {
    <li>@Html.ActionLink(@machine.Name, "Details", "Machines", new { id = @machine.MachineId})</li>
  }
</ul>
</div>